@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/* Estilo básico para el header y el contenido */
#header {
  position: relative;
  height: 100vh;
  font-family: Product Sans, sans-serif;
  overflow: hidden;
}
header2 {
  background-image: url('../images/noticias3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0; /* Eliminamos cualquier padding adicional */
  margin: 0; /* Eliminamos cualquier margen adicional */
  height: 100vh; /* Hace que el encabezado ocupe toda la altura del viewport */
  width: calc(100% - 60px); /* Ajustamos el ancho para considerar los márgenes */
  margin-left: 30px; /* Aplicamos el margen izquierdo */
  margin-right: 30px; /* Aplicamos el margen derecho */
  display: flex; /* Utiliza flexbox para alinear verticalmente los elementos hijos */
  flex-direction: column; /* Alinea los elementos hijos en una columna */
  justify-content: center; /* Alinea los elementos hijos verticalmente en el centro */
  position: relative; /* Ajusta la posición relativa para que los títulos hijos se posicionen relativos a esta sección */
  background-clip: padding-box; /* Aplica el clip al padding-box */

}

#header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

#header .content h1 {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  animation: scrolly 10s ease-in-out forwards;
}

/* Definición de la animación scrolly */
@keyframes scrolly {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  20% {
      transform: translateY(100px); /* Ajusta este valor para el desplazamiento inicial hacia abajo */
  }
  40% {
      transform: translateY(100px); /* Mantiene el h1 en su posición por un tiempo */
  }
  60% {
      transform: translateY(100px);
      opacity: 1; /* Asegura que el h1 permanezca visible en esta etapa */
  }
  80% {
      transform: translateY(100px);
      opacity: 0; /* Comienza a desvanecerse */
  }
  100% {
      transform: translateY(100px);
      opacity: 0; /* Completamente desaparecido */
  }
}

/* Desplazamiento suave */
body {
  scroll-behavior: smooth;

}
/* Desplazamiento suave */
body {
  scroll-behavior: smooth;
}
.texto_container {
  max-width: 800px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 00px;
  text-align: justify;
}

.texto_container.lista {
  margin-bottom: 10px;
}

.texto_parrafo {
  margin: 50px auto;
}

#image-transition {
  height: 400px;
  overflow: hidden;
}

#image-transition img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#conclusion {
  text-align: center;
  padding: 50px 20px;
  max-width: 800px; /* Ajusta el ancho máximo de la conclusión */
  margin: auto; /* Centra la conclusión horizontalmente */
}

#video-footer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#video-footer-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 { 
  font-family: Product Sans, sans-serif; 
  font-size: 40px; 
  color: black;
  text-align: center;
  margin-top: 25px; 
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #153E69;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Asegura que los videos no tengan controles visibles */
video::-webkit-media-controls {
  display: none;
}

video::media-controls {
  display: none;
}

/* Estilo adicional para los elementos de Flourish */
.flourish-embed {
  margin: auto; /* Centra horizontalmente */
  max-width: 800px; /* Ajusta el ancho máximo */
  margin-bottom: 50px; /* Espacio inferior */
}

.columna {
  padding: 20px; /* Añadir relleno al contenido de cada columna */
}

.contenedor {
  width: 100%;
  padding: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  vertical-align: top;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-intro {
  flex: 0 0 auto;
  width: 100%;
}

.image-intro img {
  width: 100%;
  height: auto;
}

#my-carousel {
  width: 100vw; /* Ancho completo de la ventana */
  height: 100vh; /* Altura completa de la ventana */
  overflow: hidden; /* Oculta el desbordamiento */
}

.carousel-slide {
  display: flex; /* Utilizar flexbox para las imágenes */
  transition: transform 0.5s ease; /* Transición suave entre imágenes */
  width: 100%; /* Ancho completo del carrusel */
  height: 100%; /* Altura completa del carrusel */
}

.image-intro {
  width: 100vw; /* Ancho completo de cada imagen */
  height: 100vh; /* Altura completa de cada imagen */
  flex: 0 0 auto; /* No crecer ni encoger, tamaño fijo */
}

.image-intro img {
  width: 100%; /* Asegurar que la imagen llene el contenedor */
  height: 100%; /* Asegurar que la imagen llene el contenedor */
  object-fit: cover; /* Mantener la proporción y cubrir el contenedor */
}